* {
    font-family: 'Product Sans', Montserrat, 'Open Sans', monospace;
    font-size: 1px;
    color: white;
}

body {
    background-color: black;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    font-size: 20rem;
    font-weight: bold;
    background-color: unset;
}

.mobile-nav-toggle {
    color: white;
    font-size: 30rem;
    background: none;
    display: none;
    position: absolute;
    top: 10rem;
    right: 10rem;
    border: none;
    text-align: center;
    z-index: 1000;
}

.mobile-nav {
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    background: hsl(0 0% 0% / 0.75);
    backdrop-filter: blur(10rem);
    z-index: 900;
    display: none;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.mobile-nav-items {
    text-decoration: none;
}

#dextroxd,
#nav-items>* {
    margin: 10rem 10rem;
}

#nav-items {
    display: inline;
}

#dextroxd {
    color: white;
    font-weight: bold;
    font-size: 60rem;
}


#ddimage {
    width: 350rem;
    height: 350rem;
    border-radius: 50%;
    text-align: center;
    object-fit: cover;
    margin: 10rem 10rem;
}

#ddtext {
    font-size: 25rem;
    margin: 10rem 10rem;
}

#firstscroll {
    display: flex;
    flex-direction: row;
    margin: 60rem 10rem 0rem 10rem;
    align-items: center;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    font-size: 25rem;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

.scroller {
    font-size: 59rem;
    text-align: center;
}

.fixed-position {
    position: fixed;
}

.companylogo {
    width: 275rem;
    height: 100rem;
    text-align: center;
    align-items: center;
    object-fit: contain;
}

.companylogo2 {
    width: 240rem;
    height: 60rem;
    margin: 10rem 10rem;
    padding: 10rem 10rem;
    text-align: center;
    align-items: center;
    object-fit: contain;
}

#mstext {
    font-size: 25rem;
}

.eachCompanySize {
    width: 300rem;
    height: 400rem;
    margin: 0em 10rem;
}

.projMainClass,
.companies {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.seperator {
    background-color: white;
    color: white;
    height: 200rem;
    width: 2rem;
}

.imageSlate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imageSlateItem {
    height: 60rem;
    width: 60rem;
    text-align: center;
    object-fit: contain;
}

.proj {
    height: 400rem;
    width: 400rem;
    align-items: center;
}

.projName {
    font-size: 30rem;
    text-align: center;
}

.mentorshipText,
.projText {
    font-size: 25rem;
}

.mentorshipText {
    text-align: center;
}

.githubLogo {
    height: 40rem;
    width: 40rem;
}

.projStr {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#scheduleButton {
    height: 50rem;
    width: 100rem;
    background-color: #272727;
    font-size: 20rem;
    align-items: center;
    border: white 2rem solid;
}

#scheduleButton:hover {
    transform: scale(1.1) perspective(0px);
    transition: transform 1s ease-in-out;
}

.scheduler {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20rem 0rem;
}

.footer {
    background-color: #272727;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 200;
}

.madeby {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

#madebydextroxd {
    font-size: 20rem;
    margin: 10rem 10rem;
}

.imageSlateItem2 {
    height: 40rem;
    width: 40rem;
    text-align: center;
    object-fit: contain;
}

.linkedintext {
    font-size: 20rem;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
}

.linksgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 0rem 0rem 0rem 10rem;
}

.sep {
    height: 10rem;
    width: 10rem;
}

@media (max-width:1003px) {
    #nav-items {
        display: none;
    }

    #header {
        justify-content: space-between;
    }

    .mobile-nav-toggle {
        display: block;
    }

    .mobile-nav {
        display: flex;
    }

    .mobile-nav[data-visible='true'] {
        transform: translateX(0%);
    }

}

@media (max-width:980px) {
    .companies div:nth-of-type(4n) {
        display: none;
    }
}

@media (max-width:819px) {
    .projMainClass {
        flex-direction: column;
        height: auto;
    }

    .projMainClass .seperator {
        width: 200rem;
        height: 2rem;
    }

    .projMainClass div {
        margin: 10rem 0rem;
    }

    #experience,
    #projects,
    #mentorship {
        text-align: center;
    }
}

@media (max-width:932px) {
    #firstscroll {
        flex-direction: column;
    }

    #ddimage {
        width: 100%;
        border-radius: 10%;
        text-align: center;
        object-fit: cover;
        margin: 10rem 10rem;
    }
}

@media (max-width:657px) {
    .companies {
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        align-items: center;
        text-align: center;
    }

    .companies div:nth-of-type(4n) {
        display: block;
    }

    .companies div {
        margin: 10rem 0rem;
    }

    .companies .seperator {
        width: 200rem;
        height: 1rem;
    }

    .eachCompanySize {
        height: auto;
    }


    html {
        font-size: 0.8px;
    }
}

@media (max-width:519px) {
    .madeby {
        position: relative;
    }

    .footer {
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        align-items: flex-start;
        margin: 0rem 0rem;
    }


    html {
        font-size: 0.7px;
    }
}